body{
    
    margin: 0px;
    
    overflow: hidden;
}

a{
    cursor: pointer;
}

header ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    gap: 50px;
    justify-content: center;
}

figure{
    display: grid;
    grid-template-areas: 'bolso lula ciro';
    column-gap: 2px;
    margin: 0;
    position: relative;
}


.bolson{
    color: rgba(0,0,0,0);
    display: flex;
    
}
.lulis{
    display: flex;
    color: rgba(0,0,0,0);

}

.ciris{
    display: flex;
    color: rgba(0,0,0,0);

}


.bolso{
    grid-area: bolso;
    height: 100vh;
    width: 100%;
    object-fit:cover;
    
    
    
}

.lula{
    height: 100vh;
    width: 100%;

    grid-area: lula; object-fit:cover;
}

.ciro{
    height: 100vh;
    width: 100%;

    grid-area: ciro; object-fit:cover;
}



.bol1{
    position: absolute;
    top: 10%;
    overflow-wrap: break-word;
    inline-size: 33%;
    display: block;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-size: 125%;
    
    
    
}

.lu{
    position: absolute;
    top: 10%;
    overflow-wrap: break-word;
    inline-size: 33%;
    display: block;
    font-size: 125%;
}

.ci{
    position: absolute;
    top: 10%;
    overflow-wrap: break-word;
    inline-size: 33%;
    display: block;
    font-size: 125%;

    
}





:hover.bolson{
    color: rgba(255,255,255,2);
    opacity: 0.9;
   
}

:hover.lulis{
    color: rgba(255,255,255,2);
    opacity: 0.9
}


:hover.ciris{
    color: rgba(255,255,255,2);
    opacity: 0.9
}



